.Rproj.user
.Rhistory
.RData
inst/doc
*.log
*.gz
*.tex
*.pdf
*.aux
data-raw/figure
data-raw/LMI
data-raw/experiments.R
data-raw/rgisland_depth.Rnw
data-raw/faroe-demo.Rmd
data-raw/rgisland_logbooks.Rmd
